# Environment variables
.env*
*.env.local
*.env.*.local

# Dependencies
node_modules/
/next-*.js

# Production builds
/.next/
/out/

# Local databases
*.sqlite
*.db

# Uploads and storage
/uploads/
/public/uploads/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db